<div>
    <div class="row text-center">
        <h2>Who we are</h2>
        <p>Our highly skilled and experienced Executive team manage the daily operations of Colonial First State, as well as deliver on established policies and strategies. Meet our independent Trustee and Responsible Entity Board.</p>
    </div>
    <div class="row text-center buffer-top-50px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div><img class="img-circle" src="../Images/AboutUs/rebecca_ferguson.png" alt="Rebecca Ferguson" /></div>
            <div class="buffer-top-30px">
                <h4>Rebecca Ferguson</h4>
                <h6 style="margin-top:0">Executive General Manager, Colonial First State</h6>
            </div>
            <div class="buffer-top-30px">
                <p>Rebecca joined Colonial First State (CFS) in March 2010 and was promoted to Executive General Manager for CFS in August 2012. Prior to this Rebecca was the General Manager, Marketing and Distribution at CFS, responsible for marketing and distribution activity across the CFS business which includes retail investments, platforms and corporate super.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div><img class="img-circle" src="../Images/AboutUs/tom_cruise.png" alt="Tom Cruise" /></div>
            <div class="buffer-top-30px">
                <h4>Tom Cruise</h4>
                <h6 style="margin-top:0">General Manager, Product and Investments</h6>
            </div>
            <div class="buffer-top-30px">
                <p>Tom first joined Colonial First State in 2002. As General Manager, Product & Investments, Tom is responsible for managing and driving the development of Colonial First State's products (including the FirstChoice and FirstWrap platforms), investment functions including the FirstChoice multi-manager investment team, Third Party Alliance funds, and the Performance and Analytics team.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div><img class="img-circle" src="../Images/AboutUs/jeremy_renner.png" alt="Jeremy Renner" /></div>
            <div class="buffer-top-30px">
                <h4>Jeremy Renner</h4>
                <h6 style="margin-top:0">General Manager, Marketing</h6>
            </div>
            <div class="buffer-top-30px">
                <p>He was previously Director at Credit Suisse Asset Management as Head of Product and Marketing for 3 years and prior to that 5 years at BT Financial Group as Vice President, Product Development. He has also held actuarial roles at ANZ Funds Management, Towers Perrin and Prudential.</p>
            </div>
        </div>
    </div>
    <br /><br />
</div>
<br />