<div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left margin3p">
                <img src="../Images/ContactUs/envelope.jpg" alt="Envelope" />
            </div>
            <div class="pull-left">
                <div class="pad25"></div>
                <div class="h2">Contact US</div>
                <div class="h2"><strong>notifications</strong></div>
            </div>
        </div>
    </div>
    <div class="row buffer-top-30px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>For security reasons we are unable to accept changes to your address or bank details or process transactions via email. To make any changes, please call us or <a href="http://www.colonialfirststate.com.au/forms_tools/forms_library.aspx?menutabtype=formstools">complete the relevant form</a> and return it to Colonial First State.</p>
        </div>
    </div>
</div>
