

<form class="form-horizontal" name="CustomersForm" >
    <h3></h3>
    <div class="col-md-12">
    </div>
    <div class="">
        <div class="col-md-5">
            <input type="text" class="form-control" ng-model="SearchCustomer" placeholder="Search Customer" />
        </div>
        <div class="col-md-2">
            <button type="button" name="btnSearch" class="frm-control btn btn-primary" ng-click="search(SearchCustomer)">Search</button>
            <!--ng-click="search(SearchCustomer)"-->
        </div>
        <div class="col-md-2">
            <button type="submit" name="btnUpdate" class="form-control btn btn-primary">Update</button>
        </div>
        <div class="col-md-4">
            <br />
        </div>
        <table class=" table table-bordered" ng-controller="CustomerProfileController">
            <tr class="active">
                <th>SI#</th>
                <th>IsDeleted</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Birth Date</th>
                <th>Marital Status</th>
                <th>Address</th>
                <th>Source of Income</th>
                <th>Active/InActive</th>
            </tr>
            <tr ng-repeat="Customer in Customers | filter: SearchCustomer" class="success">
                <td>{{Customer.SI}}</td>
                <td>{{Customer.IsDeleted}}</td>
                <td>{{Customer.FullName}}</td>
                <td>{{Customer.Gender}}</td>
                <td>{{Customer.BirthDate}}</td>
                <td>{{Customer.MaritalStatus}}</td>
                <td>{{Customer.Address}}</td>
                <td>{{Customer.SourceOfIncome}}</td>
                <td class="text-center"><input type="checkbox" ng-checked="{{Customer.IsActive}}" /></td>
            </tr>
        </table>

    </div>
</form>