<div ng-init="init()" ng-controller="CustomerController">
    <form class="form-horizontal" name="CustomerProfileForm">
        <div class="form-group">
            <p></p>
            <label class="col-md-4 control-label">Email Address : </label>
            <div class="col-md-3">
                <input required type="text" class="form-control" name="emailAddress" ng-disabled="true" ng-model="emailAddress" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">First Name : </label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="firstName" ng-model="firstName" ng-maxlength="20" />
                <span style="color:red" ng-show="!$error.required && (CustomerProfileForm.firstName.$error.maxlength)">First name must not exceed 20 characters.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Last Name : </label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="lastName" ng-model="lastName" ng-maxlength="20" />
                <span style="color:red" ng-show="!$error.required && (CustomerProfileForm.lastName.$error.maxlength)">Last name must not exceed 20 characters.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Middle Name : </label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="middleName" ng-model="middleName" ng-maxlength="20" />
                <span style="color:red" ng-show="!$error.required && (CustomerProfileForm.middleName.$error.maxlength)">Middle name must not exceed 20 characters.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Gender : </label>
            <div class="col-md-3">
                <label for="gender">Male</label>
                <input type="radio" ng-model="gender" value="M" />
                <label for="gender">Female</label>
                <input type="radio" ng-model="gender" value="F" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Home Address : </label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="homeAddress" ng-model="homeAddress" ng-maxlength="20" />
                <span style="color:red" ng-show="!$error.required && (CustomerProfileForm.homeAddress.$error.maxlength)">Address must not exceed 20 characters.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Birth Date : </label>
            <div class="col-md-3">
                <input type="date" class="form-control" placeholder="{{birthDate | date:'yyyy-MM-dd'}}" name="birthDate" ng-model="birthDate" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Marital Status : </label>
            <div class="col-md-3">
                <select class="form-control"
                        ng-model="maritalStatus"
                        name="maritalStatus"
                        ng-options="status.value as status.status for status in maritalstatus">
                </select>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Source of Income : </label>
            <div class="col-md-3">
                <select class="form-control"
                        ng-model="sourceOfIncome"
                        name="sourceOfIncome"
                        ng-options="income.value as income.source for income in sourceofincome">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right">
            </div>
            <div class="col-md-1 text-left">
                <input type="button" class="btn btn-primary" ng-hide="hideUpdateButton" value="Update" ng-click="update()" ng-disabled="!firstName || !lastName || !middleName || !gender || !homeAddress || !birthDate || !maritalStatus || !sourceOfIncome" />
                <input type="button" class="btn btn-primary" ng-hide="hideSaveButton" value="Save" ng-click="save()" ng-disabled="!firstName || !lastName || !middleName || !gender || !homeAddress || !birthDate || !maritalStatus || !sourceOfIncome" />             
                
            </div>
            <div class="col-md-5 text-left" style="padding-left:30px; padding-top:10px" ng-hide="hideSuccessConfirmation">
                <p class="text-success">Successfully Saved.</p>
            </div>
            
            <div class="col-md-2 text-left">

                <input type="button" class="btn btn-danger" ng-hide="true" value="close" />              
            </div>
        </div>

    </form>
</div>

<h1></h1>