<div class="container">
    <form class="form-horizontal ">
        <div class="form-group">
           <h4>Financial Services Guide</h4>
            <p class="text-left">
                Dated: 18 May 2015 Colonial First State Investments Limited
                ABN 98 002 348 352 AFS Licence Number 232468
            </p>
            <br />
            <p class="text-left">
                This Financial Services Guide (FSG) is an important document which we are required to give to you under the requirements of our Australian Financial Services Licence.
                It provides you with information about Colonial First State Investments Limited ABN 98 002 348 352 (‘Colonial First State’, ‘we’, ‘our’ or ‘us’) to help you decide whether to use the financial services we provide.
                This FSG outlines the types of services and products we can offer to you. It also explains how we (and other relevant persons) are remunerated for these services and includes details of our internal and external complaints handling procedures and how you can access them.
            </p>
            <br />
            <p class="text-left">
                To invest in any of our financial products you must complete the application form attached to the relevant offer document.
                The offer document contains information about the particular product and will assist you in making an informed decision about that product.
            </p>
            <br />
            <p class="text-left">
                If we provide you with personal financial product advice rather than general financial product advice, we will give you a Statement of Advice (SOA).
                Personal financial product advice is advice that takes into account one or more of your objectives, financial situation and needs. The SOA will contain the advice,
                the basis on which it is given and information about fees, commissions and any associations which may have influenced the advice.
            </p>
            <br />
            <p class="text-left">
                If we provide you with personal financial product advice rather than general financial product advice, we will give you a Statement of Advice (SOA).
                Personal financial product advice is advice that takes into account one or more of your objectives, financial situation and needs. The SOA will contain the advice,
                the basis on which it is given and information about fees, commissions and any associations which may have influenced the advice.
            </p>
            <br />
            <h4>Who are we?</h4>
            <p class="text-left">
                Colonial First State is one of Australia’s leading wealth management providers and a part of the Commonwealth Bank of Australia Group (the Bank).
            </p>
            <br />
            <p class="text-left">
                Any financial services offered will be provided by a representative of Colonial First State.
                Colonial First State is licensed under the Corporations Act to provide these services to you.
                Our Australian Financial Services Licence Number is 232468.
                We are also licensed to be the trustee of superannuation funds under the Superannuation Industry (Supervision) Act 1993.
            </p>
        </div>

    </form>
</div>

