<div>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
        <li><a href="#customerlist" role="tab" data-toggle="tab">Customer List</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile"><div ng-include="'Views/CustomerProfile.html'"></div></div>
        <div role="tabpanel" class="tab-pane fade" id="customerlist"><div ng-include="'Views/Customers.html'"></div></div>
    </div>

<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show'); 
    });

    $(function () {
        $('#myTab a:last').tab('show');
    })
</script>
</div>
