
<div>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
        <li ng-hide="showCustomer"><a href="#customerlist" role="tab" data-toggle="tab">Customer List</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            <div ng-include="'Views/CustomerProfile.html'"></div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="customerlist">
            <div ng-include="'Views/Customers.html'"></div>
        </div>
    </div>

    <script type="text/javascript">
        angular.element('#myTab a').click(function (e) {
            e.preventDefault();
            angular.element(this).tab('show');
        });
        angular.element(function () {
            angular.element('#myTab a:first').tab('show');
        })
    </script>
</div>
