<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <h4>Privacy</h4>
            <p class="text-left">
                The protection of your personal information is something we take very seriously.
                We protect your personal information in accordance with the Australian Privacy Principles and relevant industry privacy codes.
            </p>
            <br />
            <h4>Privacy Policy Statement</h4>
            <p class="text-left">
                Colonial First State is a subsidiary of the Commonwealth Bank of Australia. The Commonwealth Bank Group's Privacy Policy Statement provides information on our privacy and information handling practices.
                We understand that you may have concerns about your privacy and confidentiality while online. Rest assured we're committed to ensuring your privacy at all times when using our websites.
            </p>
            <br />
            <h4>Contact us about privacy</h4>
            <p class="text-left">
                If you have any questions or would like further information about our privacy and information handling practices, 
                please contact us by calling our Service Centre on 13 13 36, or e-mailing us at <a href="#/ContactUs">contactus@colonialfirststate.com.au.</a>
            </p>
            <!--http://www.colonialfirststate.com.au/contact_us/contact_us.aspx?menutabtype=contactus-->
            <br />
        </div>
    </form>
</div>