
<div class="panel panel-default col-md-6 control-label">
    
    <h3><span class="label label-primary col-md-10 col-md-offset-1">Successful Confirmation</span></h3>
    <br /><br /><br />
    <p class="list-group-item-text "> Thank you for confirming your email with userrules.</p><br />
    <p class="list-group-item-text"> Your registration is complete.</p><br />
    <p class="list-group-item-text"> You can go to login and login with your authentication details.</p><br />
    <p class="list-group-item-text"> Go to<a href="" data-dismiss="modal" onclick="$('#myModal').modal('show')"> Login Page</a></p><br /><br />

</div>
