<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <h4>Terms of use</h4>
            <p class="text-left">
                All users of services accessible through this site agree to Colonial First State's terms and conditions set out below.
            </p>
            <br />
            <h4>General</h4>
            <br />
            <p class="text-left">
                Products are issued by Colonial First State Investments Limited ABN 98 002 348 352.
                Offers of units in the products will be made in the Product Disclosure Statement (PDS) for that product.
                PDSs describing each product are available from this site or by contacting Investor Services on 13 13 36.
                The relevant PDS should be considered before making a decision about any product. The PDSs available from this site are available for residents of Australia only.
                They have been prepared having regard only to current Australian law and its interpretation, including, without limitation, taxation law. They do not directly or indirectly in any other place than in Australia:
            </p>
            <br />
            <p class="text-left">
                Constitute an offer of securities;
                Constitute an invitation to subscribe for securities, to enter into any legal agreement of any kind or to exercise any rights in relation to the offering of any financial product; or amount to a solicitation for any business.
                Information provided on, and available from, this site does not constitute financial or taxation advice. The information does not take into account the individual objectives, financial situation or needs of any individual and Colonial First State recommends that you obtain investment and taxation advice specific to your investment objectives, financial situation and particular needs before making any investment decision.
            </p>
            <br />
            <p class="text-left">
                You should seek independent financial and taxation advice to determine if an investment is appropriate to your individual circumstances.
            </p>
            <br />
            <p class="text-left">
                Any person who gives another person access to the application form must at the same time and by the same means give the other person access to the relevant PDS and any supplementary PDS.
            </p>
            <br />
            <p class="text-left">
                Colonial First State holds an Australian Financial Services Licence, No. 232468.
            </p>
        </div>
    </form>
</div>