<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--<base href="/" />-->
    <title>Loan Application</title>

    <link href="Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />

    <!--Scripts-->
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/jquery-ui-1.11.4.js"></script>
    <script src="Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="scripts/jquery.validate.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-mocks.js"></script>

    <!--Module-->
    <script src="Scripts/AngularPrj/LoanApp.js"></script>

    <!--Controller-->
    <script src="Scripts/AngularPrj/Controller/LoanCalculator.Controller.js"></script>
    <script src="Scripts/AngularPrj/Controller/Login.Controller.js"></script>
    <script src="Scripts/AngularPrj/Controller/Registration.Controller.js"></script>
    <script src="Scripts/AngularPrj/Controller/Logout.Controller.js"></script>
    <script src="Scripts/AngularPrj/Controller/Customer.Controller.js"></script>

    <!--Directives-->
    <script src="Scripts/AngularPrj/Directives/LoanApp.Directives.js"></script>
    <script src="Scripts/AngularPrj/Directives/GetMyEmail.Directives.js"></script>

    <!--Service-->
    <script src="Scripts/AngularPrj/Service/LoanCalculator.Service.js"></script>
    <script src="Scripts/AngularPrj/Service/AspNetUserService.js"></script>
    <script src="Scripts/AngularPrj/Service/localStorage.Service.js"></script>
    <script src="Scripts/AngularPrj/Service/Customer.Service.js"></script>
   
</head>
<body ng-app="LoanApp">
    <!--header-->
    <header ng-controller="LogoutController">
        <nav class="navbar navbar-default">
            <div class="navbar-header ">
                <a href="#/home"><img src="Images/cfs-logo.gif" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/AboutUs">About Us</a></li>
                    <li><a href="#/ContactUs">Contact Us</a></li>
                    <li id="signin"><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-cog loginlink" aria-hidden="true"></span> Sign In </a></li>
                    <li id="logout"></li>
                    <li id="myEmail" class="myEmail"><div my-email></div></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navigation -->
    <div class="container">
        <div class="row">
            <div class="col-md-3"> 
                <div class="list-group">
                    <a class="list-group-item active">Dashboard</a>
                    <a href="#" class="list-group-item">Loan Types</a>
                    <a href="#/loanCalculator" class="list-group-item">Calculator</a>
                    <a href="#" class="list-group-item">Application</a>
                    <span id="MyProfile"></span>
                </div>
            </div>

            <div class="col-md-9">
                <!-- this is where content will be injected -->

                <div ng-view></div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <ul class="list-inline text-center">
            <li><a href="#/FinacialService"><small> <u>Financial Service guide page</u></small></a><span>|</span> </li>
            <li><a href="#/TermOfUse"><small><u>Terms of use</u></small></a><span>|</span> </li>
            <li><a href="#/PrivacyPolicy"><small><u>Privacy</u></small> </a></li>
            <br />
            <li><a><small>Copyright © 2015 all rights reserved.</small></a></li>
        </ul>
    </footer>
    <form role="form">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" data-ng-controller="LoginController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" ng-click="ClearMessage()" onclick="$('#myModal').on('hidden.bs.modal', function (e) { $(this).find('input').val('').end() })" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Sign In to  <img src="Images/cfs-logo.gif" /></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-md-6 col-md-offset-3">User Name</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <input required type="email" name="username" ng-model="user.username" class="form-control" placeholder="you@example.com" id="inputEmail" />

                            </div>
                        </div>
                        <h1></h1>
                        <div class="row">
                            <label class="col-md-6 col-md-offset-3">Password</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <input required name="password" ng-model="user.password" type="password" class="form-control" />
                            </div>
                        </div>
                        <h1></h1>
                        <div class="row">
                            <div class="text-center">
                                <button type="submit" class="form-control btn btn-success width_btn" ng-click="signIn()" ng-disabled="!user.username || !user.password">Sign In</button> <br /><br />
                                <span class="incpass">{{IncorrectPassword}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        Don't have an account? <a href="" data-dismiss="modal" ng-click="ClearMessage()" onclick="$('#myModal').modal('hide'), $('#myModalReg').modal('show'), $('#myModal').on('hidden.bs.modal', function (e) { $(this).find('input').val('').end() })">Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal -->
    <form data-toggle="validator" role="form" ng-controller="RegistrationController" name="modalForm">
        <div class="modal fade" id="myModalReg" tabindex="1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" ng-click="ClearMessage()" onclick="$('#myModalReg').on('hidden.bs.modal', function (e) { $(this).find('input').val('').end() })" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create free account to start using <img src="Images/cfs-logo.gif" /></h4>
                    </div>
                    <div class="form-group">
                        <div class="modal-body modal-bodyReg">
                            <div class="row">
                                <label class="col-md-6 col-md-offset-3">Email address</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3"><input type="email" required id="inputEmail" name="inputEmail" ng-model="userData.inputEmail" class="form-control" placeholder="you@example.com" /></div>                           
                            </div>
                            <h1></h1>
                            <div class="row">
                                <label class="col-md-6 col-md-offset-3">Password</label>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-md-offset-3"><input required type="password" id="inputPassword" name="inputPassword" ng-model="userData.inputPassword" class=" form-control" placeholder="Password" ng-minlength="6" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])/"></div>
                                <span style="color:red" class="col-md-6 col-md-offset-3" ng-show="modalForm.inputPassword.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                <span style="color:red" class="col-md-6 col-md-offset-3" ng-show="modalForm.inputPassword.$error.required && modalForm.inputPassword.$dirty">Password is required!</span>
                                <span style="color:red" class="col-md-6 col-md-offset-3" ng-show="!modalForm.inputPassword.$error.required && (modalForm.inputPassword.$error.minlength || modalForm.inputPassword.$error.maxlength) && modalForm.inputPassword.$dirty">Passwords must be between 6 and 20 characters.</span>
                            </div>
                            <h1></h1>
                            <div class="row">
                                <label class="col-md-6 col-md-offset-3">Confirm Password</label>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6 col-md-offset-3"><input required type="password" id="inputConfirmPassword" name="inputConfirmPassword" class="form-control" ng-model="userData.inputConfirmPassword" valid-password="{{userData.inputPassword===userData.inputConfirmPassword}}" placeholder="Confirm Password" /></div>
                                <span class="col-md-6 col-md-offset-3" style="color:red" ng-show="modalForm.inputConfirmPassword.$error.required && modalForm.inputConfirmPassword.$dirty">Please confirm password.</span>
                                <span class="col-md-6 col-md-offset-3" style="color:red" ng-show="!modalForm.inputConfirmPassword.$error.required && modalForm.inputConfirmPassword.$error.notMatch && modalForm.inputPassword.$dirty">Passwords don't match!</span>
                            </div>

                            <h1></h1>
                            <div class="row">
                                <div class="text-center">

                                    <button type="submit" class="form-control btn btn-success width_btn" ng-click="registerUser()" ng-disabled="!userData.inputEmail || !userData.inputPassword || !userData.inputConfirmPassword || (!modalForm.inputConfirmPassword.$error.required && modalForm.inputConfirmPassword.$error.notMatch && modalForm.inputPassword.$dirty)">
                                        Create Account
                                    </button><br /><br />
                                    <span style="color:red">{{Message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        Already have an account? <a href="" data-dismiss="modal" ng-click="ClearMessage()" onclick="$('#myModalReg').modal('hide'), $('#myModal').modal('show'), $('#myModalReg').on('hidden.bs.modal', function (e) { $(this).find('input').val('').end() }), $('#myModalReg').on('hidden.bs.modal', function (e) { $(this).find('Message').val('').end() })">Sign here</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
