a {
    text-decoration: none;
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

.navbar {
    background-color: #FC0703;
}

.navbar-toggle {
    background-color: #FC0703;
    padding: 17px;
}

.navbar-default .navbar-toggle:focus {
    background-color: #FC0703;
}

.navbar-default .navbar-toggle:hover {
    background-color: #ff5600;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}


.buffer-top-50px {
    margin-top: 50px;
}

.buffer-top-30px {
    margin-top: 30px;
}

.buffer-top-30px h4 {
    margin-bottom:5px
}

.buffer-top-0px {
    margin-bottom: 0px;
}

.buffer-bottom-5px {
    margin-bottom: 5px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #023167;
    border-color: #023167;
}

.navbar-header img {
    padding: 10px;
}

.loginlink {
    color: #ffffff;
}

footer {
    background-color: #FC0703;
    border-top: 1px solid transparent;
    border: 1px solid #ddd;
    padding: 8px;
    bottom: 0;
    position:fixed;
    width: 100%;
}

    footer a {
        color: #ffffff;
    }

    footer ul {
        text-align: center;
    }


    footer a:hover {
        color: #333;
        text-decoration: none;
    }

    footer span {
        color: #ffffff;
        padding-left: 10px;
    }

.modal-header {
    background-color: #023167;
    color: #ffffff;
}

.close, .close:hover, .close:focus {
    color: #ffffff;
}

.btn:hover, .btn:focus {
    color: #ffffff;
    font-weight: bold;
}

.form-horizontal {
    margin-bottom: 100px;
}

.modal-title img {
    width: 68px;
    height: 23px;
}

ul {
    -webkit-padding-start: 0px;
}

.width_btn {
    width: auto;
}

.fontRed {
    color: #ff0000;
}

.myEmail {
    color: #ffffff;
    font-weight: bold;
    margin: 15px 5px 5px 5px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #ccc;
}

.nav .caret {
    border-top-color: #ffffff;
}

.dropdown-menu {
    background-color: #ffffff;
}

.saved {
    padding-left:30px; 
    padding-top:10px
}

.margintop0 {
    margin-top: 0;
}

.margin3p {
    margin-right:3%
}

.pad25 {
    padding-top:25%
}


