a {
    text-decoration: none;   
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

.navbar {
    background-color: #FC0703;
   
}
.navbar-toggle {
    background-color:#FC0703;
    padding:17px;
}

.navbar-default .navbar-toggle:focus{
     background-color: #FC0703;

}
.navbar-default .navbar-toggle:hover{
     background-color: #ff5600;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;     
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #023167;
    border-color: #023167;
}

.navbar-header img {
    padding: 10px;
}

.loginlink {
    color: #ffffff;
}

footer
{
    background-color: #FC0703;
    border-top:1px solid transparent;
    border: 1px solid #ddd;      
    padding: 8px;
    bottom: 0;
    position: fixed;
    width: 100%;

  
}
    footer a {
        color: white;
        
    }
    footer ul {
        text-align: center;
     
      }


footer a:hover
{
    color: #333;
    text-decoration:none;
}

footer span {
    color: white;
    padding-left: 10px;
}

.modal-header {
    background-color: #023167;   
    color: white;
}

.close, .close:hover, .close:focus{
    color: white;
}
.btn:hover, .btn:focus {
    color: white;
    font-weight: bold;
}

.form-horizontal {
    margin-bottom: 100px;
}

.modal-title img {
    width: 68px;
    height: 23px;
}

ul {
    -webkit-padding-start: 0px;
}

.width_btn {
    width: auto; 
}
.incpass {
    color: red;
}

.myEmail {
    color: yellow;
    margin: 15px 5px 5px 5px;
}

