a {
    text-decoration: none;   
}

.navbar {
    background-color: #FC0703;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff; 
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #023167;
    border-color: #023167;
}

.navbar-header img {
    padding: 10px;
}

.loginlink {
    color: #ffffff;
}

footer
{
    background-color: #FC0703;
    border-top:1px solid transparent;
    border: 1px solid #ddd;      
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
    footer a {
        color: white;
        
    }
    footer ul {
        text-align: center;
    }


footer a:hover
{
    color: #333;
    text-decoration:none;
}

footer span {
    color: white;
    padding-left: 10px;
}
